h1 {color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align:center; padding: 0px;}
h2 {color: #c89d7c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; padding: 0px;
}
h3 {color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; padding: 0px; font-size: 20px;
}

body{
    background-color: #fff;
    font-family: 'Times New Roman';
    color: #333;
    padding-top: 160px;
    padding-bottom: 80px;
    text-align: center;
}

#filter{
    border: none;
    color: #333;
    text-decoration: none;
    margin: 4px 2px;
    padding: 8px 16px;
    text-align: center;
}

.site_header {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

select{
    padding: 8px 12px;
}

a {
    text-decoration: none;
}
