h1 {color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align:center; padding: 0px;}
h2 {color: #c89d7c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; padding: 0px;
}
h3 {color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; padding: 0px;
}

body {        
    padding-top: 160px;
    padding-bottom: 80px;
}

.site_header {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}