<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="assign8_style.css">
    
    <title>Jade Delight</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="">
        <div class = "site_header">
            <a href = "https://abdiwakene.github.io/cs20/assignment8.html"> <h1> Jade Delight </h1> </a>
        </div>
        

        <script language="javascript">
            function MenuItem(name, cost)
            {
                this.name = name;
                this.cost = cost;
            }

            menuItems = new Array(
                new MenuItem("Chicken Chop Suey", 4.5),
                new MenuItem("Sweet and Sour Pork", 6.25),
                new MenuItem("Shrimp Lo Mein", 5.25),
                new MenuItem("Moo Shi Chicken", 6.5),
                new MenuItem("Fried Rice", 2.35)
            );
            
            //creates a selection box
            function makeSelect(name, minRange, maxRange)
            {
                var t= "";
                t = "<select name=' "+ name +"' onchange='get_item_cost(this.value, this.name)' size='1'>";
                for (j=minRange; j<=maxRange; j++)
                    t += "<option>" + j + "</option>";
                t+= "</select>"; 
                return t;
            }
            
            function get_item_cost(num_items, item_names){

                var ind = item_names[5];
                var menu_cost = menuItems[ind].cost;
                var sum = num_items * menu_cost;
                var subtotal = 0;
                document.getElementsByName('cost')[ind].value = sum.toFixed(2);

                for (i = 0; i < 5; i++){
                    item_cost = document.getElementsByName('cost')[i].value;
                    if (document.getElementsByName('cost')[i].value != "") {
                        subtotal += parseFloat(item_cost);
                    }
                }

                document.getElementById("subtotal").value = subtotal.toFixed(2);
                document.getElementById("tax").value = (subtotal*0.0625).toFixed(2);
                document.getElementById("total").value = (subtotal*1.0625).toFixed(2);
            }
            

            function validate_check()
            {
                ln_res = document.getElementById("lname").value;
                pn_res = document.getElementById("phone").value;
                total_cost = document.getElementById("total").value;
                var phone_valid = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

                if (ln_res == ""){
                    document.getElementById("ln_error").innerHTML = "Please enter last name*";
                    return false;
                }
                if (pn_res == "" || !pn_res.match(phone_valid)){
                    document.getElementById("pn_error").innerHTML = "Please enter phone number (xxx-xxx-xxxx)*";
                    return false;
                }

                //check for street and city for delivery orders
                if (document.getElementsByName('p_or_d')[1].checked){
                    st_res = document.getElementById('street').value;
                    city_res = document.getElementById('city').value;
                    if (st_res == '') {
                        document.getElementById('st_error').innerHTML =
                            "Please enter street name*";
                            return false;
                    }
                    if (city_res == ""){
                        document.getElementById('city_error').innerHTML =
                            "Please enter city*";
                            return false;
                    }
                }

                    
                day = new Date();
                hour = day.getHours();
                minute = day.getMinutes();
                
                //time calculation for pickup
                if (document.getElementsByName('p_or_d')[0].checked) {
                order_time_mins = minute + 15;
                //for hour of order time
                if (hour > 12){
                    new_hour = hour - 12;
                }else{
                    new_hour = hour;
                }
                //calculating rounding of hours
                if (order_time_mins > 60) {
                        new_min = order_time_mins - 60;
                    new_hour++;
                }else{
                    new_min = order_time_mins;
                }
                //for min of order time
                if (new_min < 10){
                    new_min = "0" + new_min;
                }
                //final time to print
                time_calc = new_hour + ":" + new_min;
                if (total_cost == "" || total_cost == 0.00){
                        document.getElementById("total_error").innerHTML = "Please order at least one item to complete order.";
                        return false;
                    }
                }


                //time calculation for delivery
                if (document.getElementsByName('p_or_d')[1].checked){
                order_time_mins = minute + 30;
                if (hour > 12){
                    new_hour = hour - 12;
                }else{
                    new_hour = hour;
                }
                if (order_time_mins > 60) {
                    new_min = order_time_mins - 60;
                    new_hour++;
                }else{
                    new_min = order_time_mins;
                }
                if (new_min < 10){
                    new_min = "0" + new_min;
                }
                time_calc = new_hour + ":" + new_min;
                if (total_cost == "" || total_cost == 0.00){
                        document.getElementById("total_error").innerHTML = "Please order at least one item to complete order.";
                        return false;
                    }
                }
                //alert message
                alert("THANK YOU FOR YOUR ORDER\nYOUR ORDER IS: $" + total_cost + "\nYOUR ORDER TOTAL IS: $" + total_cost + "\nPICKUP/DELIVERY TIME: " + time_calc);
            }
            </script>

            
            <h1>Jade Delight</h1>
            <form id="form" onSubmit="return validate_check()">

            <p>First Name: <input type="text"  name='fname'/></p>
            <p>Last Name*: <input type="text" id='lname'  name='lname' />
                <span style="color:red" id="ln_error">&nbsp;</span>
            </p>
            <div ng-switch="myVar"><div ng-switch-when='delivery'><p>Street: <input type="text"  name='street' id='street' />
                <span style="color:red" id='st_error'>&nbsp;</span>
            </p></div></div>
            <div ng-switch="myVar"><div ng-switch-when='delivery'><p>City: <input type="text"  name='city' id='city' />
                <span style="color:red" id='city_error'>&nbsp;</span>
            </p></div></div>
            <p>Phone*: <input type="text"  name='phone' id='phone'/>
                <span style="color:red" id='pn_error'>&nbsp;</span>
            </p>
            <p>
                <input type="radio"  name="p_or_d" ng-model="myVar" value = "pickup" checked="checked"/>Pickup
                <input type="radio"  name='p_or_d' ng-model="myVar" value = 'delivery'/>Delivery
            </p>

            <table border="0" cellpadding="3">
            <tr>
                <th>Select Item</th>
                <th>Item Name</th>
                <th>Cost Each</th>
                <th>Total Cost</th>
            </tr>
            <script language="javascript">
            var s = "";
            for (i=0; i< menuItems.length; i++)
            {
                s += "<tr><td>";
                s += makeSelect ("quan" + i, 0, 10);
                s += "</td><td>" + menuItems[i].name + "</td>";
                s += "<td> $ " + menuItems[i].cost.toFixed(2) + "</td>";
                s += "<td> $<input type='text' name='cost' /> </td></tr>";
            }
            document.writeln(s);
        </script>
        </table>

        <p>Subtotal:
            $<input type="text"  name='subtotal' id="subtotal" />
        </p>
        <p>Mass tax 6.25%:
            $ <input type="text"  name='tax' id="tax" />
        </p>
        <p>Total: $ <input type="text"  name='total' id="total" />
            <span style="color:red" id="total_error">&nbsp;</span>
        </p>
        <input type = "submit" value = "Submit Order" />
        </form>
    </body>
</html>